<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <partial name="_Favicons" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", false)
</head>

<body class="custom-body">
    <div id="container">
        <header id="site-header">
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                            <button type="submit" class="button">Log Out</button>
                        </form>
                    <div id="user">                        
                        <span>Welcome, @User.Identity.Name</span>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="button" href="/admin/home/index">To Admin area</a>
                        }
                        <a class="button" href="/movie/all">All Movies</a>
                        <a class="button" href="/tvshow/all">All TV Shows</a>
                        <a class="button" href="/movie/likedmovie">Liked Movies</a>
                        <a class="button" href="/tvshow/likedshow">Liked TV shows</a>
                        <a class="button" href="/user/suggestion">Suggestion</a>
                        <a class="button" href="/user/changename">Change Username</a>
                    </div>
                </section>
            </nav>
        </header>

        <main id="site-content">
            @RenderBody()
        </main>

        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer>
            <!-- To the right -->
            <!-- Default to the left -->
            <p>Copyright &copy; 2014-@DateTime.Now.Year My Movie List</p>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!--partial name="_UserMessages" /-->
    @await RenderSectionAsync("Scripts", false)
</body>
</html>

