<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="/admin/home/index" class="nav-link">
                <i class="fas fa-house-user"></i>
                <p>
                    Home
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/user/manageusers" class="nav-link">
                <i class="fas fa-address-book"></i>
                <p>
                    Manage Users
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/movie/add" class="nav-link">
                <i class="fas fa-film"></i>
                <p>
                    Add a movie
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/movie/allmovies" class="nav-link">
                <i class="fas fa-film"></i>
                <p>
                    All movies
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/tvshow/add" class="nav-link">
                <i class="fas fa-film"></i>
                <p>
                    Add a TV show
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/tvshow/alltvshows" class="nav-link">
                <i class="fas fa-film"></i>
                <p>
                    All TV shows
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/user/suggestion" class="nav-link">
                <i class="fas fa-address-book"></i>
                <p>
                    User suggestions
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/home/index" class="nav-link">
                <i class="fas fa-address-book"></i>
                <p>
                    To user area
                </p>
            </a>
        </li>
    </ul>
</nav>
