@using MyMovieList.Core.Models
@model IEnumerable<AllMoviesViewModel>

<h3>All Movies</h3>
<div class="row">
@foreach (var movie in Model)
{
    <div class="card" style="width: 18rem;margin-right: 5rem; margin-bottom: 3rem;">
        <img class="img-size" src="~/img/@movie.Image" class="card-img-top" alt="@movie.Image">
        <div class="card-body">
            <h5 class="card-title">@movie.Title</h5>
            <p class="card-text">Rating : @movie.Rating</p>
            <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" asp-area="Admin" class="btn btn-primary">Details</a>
        </div>
    </div>
}
</div>