@using MyMovieList.Core.Models
@model IList<AllMoviesViewModel>
@{
    ViewData["Title"] = "All movies";
}

<section id="dashboard-page" class="dashboard">
    <h1>All Movies</h1>
    @if (Model != null)
    {
        <ul class="other-books-list">
            @foreach (var movie in Model)
            {
                <li class="otherBooks">
                    <h3>@movie.Title</h3>
                    <p class="img"><img src="~/img/@movie.Image"></p>
                    <p>⭐Rating : @movie.Rating/10</p>
                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" class="button">Details</a>
                </li>
            }
        </ul>

    }
    else
    {
        <p>There are no movies yet. Would you like to suggest one to be added?</p>
        <a class="button" href="/movie/suggestion"></a>
    }
</section>
