@using MyMovieList.Core.Models
@model IList<LikedMoviesViewModel>
@{
    ViewData["Title"] = "Liked movies";
}

<section id="dashboard-page" class="dashboard">
    <h1>Movies you have rated</h1>
    @if (Model != null)
    {
        <ul class="other-books-list">
            @foreach (var movie in Model)
            {
                <li class="otherBooks">
                    <h3>@movie.Title</h3>
                    <p class="img"><img src="~/img/@movie.Image"></p>
                    <p>⭐Rating : @movie.OverallRating/10    ⭐Your rating: @movie.YourRating</p>
                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" class="button">Details</a>
                </li>
            }
        </ul>

    }
    else
    {
        <p>You haven't rated any movies. Would you like to rate one?</p>
        <a class="button" href="/movie/allmovies">Click here</a>
    }
</section>

